/* Estilo para o container do mapa */
#map, .map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Estilos para o container pai do mapa */
#map-container, .map-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Estilos para Game Screen que contém o mapa */
#game-screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Redefine estilos globais que podem estar causando os problemas de margem */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

.mapboxgl-canvas {
  width: 100% !important;
  height: 100% !important;
}